@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addressInputBox{
  display:inline-flex;
  flex-direction:row;
}

.addressDisplayBox{
  padding: 10 10 10 10;
}

.transactionBox{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.confirmationtext{
  padding: 50px 0px 0px 50px;
  display: flex;
  justify-content: center;
}

.confirmationtextElement{
  padding-left: 10px;
  padding-right: 10px;
}

/* LARGE SCREEN SIZED COMPONENT SECTION*/
.component-section{
  width:100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: scroll;

}
.table-wrapper-scroll-y {
  display: block;
}

bg-myRed{
  background-color: rgb(145, 145, 145);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;  
  border: 1px solid #d5d5d5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d; 
}

/********************** Main Page Jumbo **********************/
.jumbo-wrapper{
  position: relative;
  background: url(assets/gradient.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.jumbo-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.jumbo-info h1{
  font-family: 'Roboto', sans-serif;
  color:#d1d1d1;
  text-transform: capitalize;
}

/********************** Typed Text **********************/
.typed-text{
  font-size: 2rem;
  color: #b9b9b9;
}

/********************** Main Page Button **********************/
.main-page-button{
  border: 1px solid #5779bd;
}